li {
    height: 200px;
    width: 200px;
    margin-right: 50px;
    background-color: mediumpurple;
    display: inline-block;
    border-color: brown;
    border-style: solid;
    border-width: 5px;
}

li.one {
    border-top-left-radius: 80px 50px;
}

li.two {
    border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
}

li.three {
    padding: 0px;
    border-radius: 200px
}